################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MarketingMessages/MarketingMessages/appsettings.Development.json
